DISCORD_TOKEN=your_discord_bot_token
CLIENT_ID=your_discord_application_id
GENIUS_API_KEY=your_genius_api_key_optional
SOUNDCLOUD_CLIENT_ID=your_soundcloud_client_id_optional
SPOTIFY_CLIENT_ID=your_spotify_client_id_optional
SPOTIFY_CLIENT_SECRET=your_spotify_client_secret_optional
